html {
  font-family: verdana;
  text-align: center;
  background-color:black;
}

body {
}

.heading {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

.guide {
  font-weight: 300;
  font size: 42px;
  color: white;
}

.places {
  font-size: 21px;
  color: gray;
}

.footer{
  color: gray;
  text-align: right;
  font-size: 21px;
}

.soon {
  color: white;
}
